## MAP : key = Java Type, value = MockValues method name 
#set ( $map = { 
  "byte"   : "nextByte()",     "java.lang.Byte"    : "nextByte()",  
  "short"  : "nextShort()",    "java.lang.Short"   : "nextShort()", 
  "int"    : "nextInteger()",  "java.lang.Integer" : "nextInteger()", 
  "long"   : "nextLong()",     "java.lang.Long"    : "nextLong()", 
  "float"  : "nextFloat()",    "java.lang.Float"   : "nextFloat()", 
  "double" : "nextDouble()",   "java.lang.Double"  : "nextDouble()", 
  "java.math.BigDecimal" : "nextBigDecimal()", 
  "java.util.Date"       : "nextDate()", 
  "java.sql.Date"        : "nextSqlDate()", 
  "java.sql.Time"        : "nextSqlTime()", 
  "java.sql.Timestamp"   : "nextSqlTimestamp()"
} )
#set( $package = ${target.javaPackageFromFolder($TEST_SRC)} )
## ------------------------------------------------------------------
#macro( mockMethod $field )
#if ( $field.type == "String" )
#set ( $methodName = "nextString($field.databaseSize)" )
#else
#set ( $methodName = $map.get(${field.fullType}) )
#end
${methodName}#end
##--------------------------------------------------------------------------------------------------------
## Data fields = fields not in Primary Key and not in selected Links    
#set( $dataFields = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS ) )
##--------------------------------------------------------------------------------------------------------
## Link fields = fields not in Primary Key and used as FK in selected Links    
#set( $linkFields = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.IN_SELECTED_LINKS ) )
##--------------------------------------------------------------------------------------------------------

/*
 * Created on $today.date ( Time $today.time )
 * Generated by $generator.name ( version $generator.version )
 */
package $package;

import java.util.LinkedList;
import java.util.List;
#foreach( $import in $entity.importsForKeyFields )
import $import;
#end

import ${ROOT_PKG}.${entity.name.toLowerCase()}.model.${entity.name};
import ${ROOT_PKG}.mock.tool.MockValues;

public class ${entity.name}Mock {

	private static MockValues mockValues = new MockValues();
	
	
	/**
	 * Creates an instance with a specific Primary Key
	 * @param id1
	 * @return
	 */
	public static  ${entity.name} createInstance() {
		${entity.name} entity = createInstanceWithoutLinks();
		// Init Link fields (if any)
#foreach( $link in $entity.selectedLinks )
		entity.${link.setter}( ${link.linkType}Mock.createInstance() ) ;  
#end
		return entity ;
	}
	/**
	*	Creates An instance without relationship objects
	*/
	public static ${entity.name} createInstanceWithoutLinks(){
		${entity.name} entity = new ${entity.name}();
	// Init Data fields
#foreach( $field in $dataFields )
		entity.${field.setter}( mockValues.#mockMethod($field) ) ; // $field.fullType
#end
		return entity; 
	}
	
	/**
	 * Creates a list of instances
	 * @param count number of instances to be created
	 * @return
	 */
	public static List<${entity.name}> createList(int count) {
		List<${entity.name}> list = new LinkedList<${entity.name}>();		
		for ( int i = 1 ; i <= count ; i++ ) {
			list.add( createInstance() );
		}
		return list;
	}	
/**
	 * Creates a list of instances without links
	 * 
	 * @param count
	 *            number of instances to be created
	 * @return
	 */
	public static List<${entity.name}> createListWithoutLinks(int count) {
		
		List<${entity.name}> list = new LinkedList<${entity.name}>();		
		for ( int i = 1 ; i <= count ; i++ ) {
			list.add( createInstanceWithoutLinks() );
		}
		return list;
	}
	
}
