.calculator{
	background-image:url('icons/calculator.png');
}
.settings{
	background-image:url('icons/cog_edit.png');
}
.calendar{
	background-image:url('icons/calendar.png');
}
.computer{
	background-image:url('icons/computer.png');
}
.computer-link{
	background-image:url('icons/computer_link.png');
}
.disconnect{
	background-image:url('icons/disconnect.png');
}
.date{
	background-image:url('icons/date.png');
}
.icon-delete{
	background-image:url('icons/delete.png');
}
.icon-add{
	background-image:url('icons/add.png');
}
.icon-job-delete{
	background-image:url('icons/clock_delete.png');
}
.icon-job-add{
	background-image:url('icons/clock_add.png');
}
.icon-job-play{
	background-image:url('icons/clock_play.png');
}
.icon-job-stop{
	background-image:url('icons/clock_stop.png');
}
.icon-table-delete{
	background:url('icons/table_delete.png') ;
}
.icon-job-started{
	background:url('icons/control_play_blue.png') no-repeat;
}
.icon-job-stopped{
	background:url('icons/control_pause_blue.png') no-repeat;
}
.icon-save{
	background:url('icons/disk.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-joblist{
	background:url('icons/application_view_detail.png') no-repeat;
}
img{
    vertical-align: middle;
    height: 100%;
}
.vtours-logo{
    max-height: 52px;
    max-width: 120px;
}


/* Messages */
#msg-div {
    position: fixed;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: 20000;
}
#msg-div .msg {
    width: 300px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #FFEEBF;
    border: 2px solid #EFB34A;
    margin: 3px auto;
    padding: 10px 15px;
    color: #555;
    -moz-box-shadow: 0 5px 8px #ccc;
    -webkit-box-shadow: 0 5px 8px #ccc;
    box-shadow: 0 5px 8px #ccc;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}

/* Override Form Label style */
label {
    /*font: normal 12px courier !important;*/
    font-weight: bold !important;
}
.icon-calendar
{
    background: url(../ext-scheduler/images/calendar.png) no-repeat;
}