#set( $dataFields = $entity.getAttributes() )
#foreach( $field in $dataFields )
#set( $nameField = 'name' )
#if($field.name=='nombre')#set( $nameField = 'nombre' )
#end
#end
Ext.define("app.view.${entity.name.toLowerCase()}.ComboBox", {
	extend: 'Ext.form.ComboBox',
	alias:'widget.${entity.name.toLowerCase()}Combo',
    store: '${entity.name}',
	displayField: '${nameField}',
	valueField: 'id',
	typeAhead: false,
	name: '${entity.name.toLowerCase()}',
	itemId : '${entity.name.toLowerCase()}',
	queryParam: '${nameField}',
	hideTrigger:false,
	emptyText:'Select ${entity.name}',
	//valueField:'${entity.name.toLowerCase()}.id',
	minChars:3,
	forceSelection:true,
	mode:'remote',
	listeners:{
	   select:{
		   fn:function(combo,records,eOpts){
//			   var jobGroupChain=combo.up('form').getForm().findField('jobGroupChain');
//			   jobGroupChain.setValue(records[0].data.jobGroup);
		   }
	   }
	
	},			       
	listConfig: {
	   loadingText: 'Searching...',
	   emptyText: 'No matching ${entity.name} found.',	
	   getInnerTpl: function() {
		   return '<a>' +
		   '<b>{${nameField}}</b><br>'+
		   '</a>';
	   }
	},
	initComponent:function(){
		this.store=Ext.create('Ext.data.Store', {
	        model : 'app.model.${entity.name}',
			proxy: {
			     type: 'ajax',
			     url:  CONTEXT_ROOT+'/'+'${entity.name.toLowerCase()}/query',
				reader: {
			        type: 'json',
			        root: 'data',
			        successProperty:'success',
			        totalProperty: 'results'
			    }
			}
	    });
		this.store.load({params:{name:''}})
		this.callParent(arguments);
	}
	
});